{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
    <!-- content -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: #35C0CD">Suggest Something</h1>
                    </br>
                    <h2></h2>
                    <h3></h3>
                    
                    <p> If you think I would like a song, feel free to suggest it. I will give you full credit in the post as well as link to your personal page. I read every submission. </p>
                    
                  <form action="." method="post">{% csrf_token %}
                    <ol style="list-style: none;">
	                    <li>
		                    <label for="name" style="margin-top: 0px;">Name <span class="required" style="color:red;">*</span></label></br>
							{{ form.name }}
							{{ form.name.errors }}
	                    </li>
	                    <li>
	                    	<label for="link" style="margin-top: 0px;">Link  </label></br>
							{{ form.link }}
							{{ form.link.errors }}
	                    </li>
	                    <li>
		                    <label for="email" style="margin-top: 0px;">Your Email  </label> </br>
		                     
		                     {{ form.email }}
		                     {{ form.email.errors }}
	                    </li>
	                    <li>
		                     <label for="link" style="margin-top: 0px;">Message </label><br/>
		                     {{ form.message }}
		                     {{ form.message.errors }}
		                     
		                    
		                    
		                     
		                     
		                     
	                    </li> 
                    </ol>
                    <input type="submit" value="Submit">
				  </form>  
				  
				  
                    
                    <hr width="800" size="500" color="000">
                                      
                   <p> <a href="https://twitter.com/NirChernia"><img src="{% static "img/twitterbird.png" %}" height="42" width="42"/></a>
                   <a href="https://github.com/nirchernia"><img src="{% static "img/github.png" %}" height="42" width="42"/></a>
                   </p>
                   
                   </br>
                   
                    
                    <!-- <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}


  