{% extends "blog/base.html" %}
{% load staticfiles %}


{% block content %}

    <!-- content -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: #35C0CD">Complete Profile</h1>
                    </br>
                    <h2></h2>
                    <h3></h3>
                    
                    	<div style="width:700px;margin: 0 auto;">
							<form action="{% url 'confirm_invite_page' token %}" method="post">{% csrf_token %}
							{{forms.errors}}
							{{form.as_p}}
							<input type="submit" value="Activate">
							</form>
                    	</div>
                    <hr width="800" size="500" color="000">
                                      
                   <p> <a href="https://twitter.com/NirChernia"><img src="{% static "img/twitterbird.png" %}" height="42" width="42"/></a>
                   <a href="https://github.com/nirchernia"><img src="{% static "img/github.png" %}" height="42" width="42"/></a>
                   </p>
                   
                   </br>
                   
                    
                    <!-- <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> 
                    
                    -->
                </div>
            </div>
        </div>
    </section>


{% endblock %}