<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NIR.AUDIO</title>
    <!-- <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/vnd.microsoft.icon"> --> 
    

    <!-- Bootstrap Core CSS -->
    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home_page' %}"><img src="{% static "img/logo.png" %}" height="24" width="32"> NIR.AUDIO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'about_page' %}">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'suggest_page' %}">Suggest Something</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: #35C0CD">About</h1>
                    </br>
                    <h2></h2>
                    <h3></h3>
                    
                    	<div style="width:700px;margin: 0 auto;">
							<p>This is dedicated to all the people who asked me for a playlist, the people who harassed me for a song title at my parties, and those that secretly Shaazam my iPod music while we drive in the car.</p> 

							<p>I have laid out quite a bit of music here, and will continue to share music that I myself vibe with. The music is varietal; I quickly bounce back and force between a multitudes of genres. NIR.AUDIO almost serves like a historical timeline of my musical taste. There aren’t specific dates that you should frequent; I just post as often as I like. It’s a hobby I enjoy. 
</p>

                    	</div>
                    <hr width="800" size="500" color="000">
                                      
                   <p> <a href="https://twitter.com/NirChernia"><img src="{% static "img/twitterbird.png" %}" height="42" width="42"/></a>
                   <a href="https://github.com/nirchernia"><img src="{% static "img/github.png" %}" height="42" width="42"/></a>
                   </p>
                   
                   </br>
                   
                    
                    <!-- <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
                </div>
            </div>
        </div>
    </section>




    <!-- jQuery Version 1.11.0 -->
    <script src="static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/scrolling-nav.js"></script>

</body>

</html>