<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NIR.AUDIO</title>    
	<!-- favicon -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>		
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<!-- Custom CSS -->
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet">

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home_page' %}"><img src="{% static "img/logo.png" %}" height="24" width="32"> NIR.AUDIO</a>
                
                
                   
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'about_page' %}">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'suggest_page' %}">Suggest Something</a>
                    </li>
                    
                </ul>
                <!--nir's custom login -->
                <ul style="align:right;margin-left:800px;margin-top:13px;list-style-type: none;">
                	 	{% if user.is_authenticated %}
			   		<li>
			   			<div>{{ user.username }} &#149; <a href="{% url 'logout_page' %}">logout</a></div>
			   		</li>
			   		
			   			{% else %}
			   		<li>
			   			<div>Welcome Anonymous &#149; <a href="{% url 'login_page'%}">Login</a> &#149; <a href="{% url 'signup_page' %}">Request Invite</a></div>
			   		</li>
			   			{% endif %}
                
			   	</ul>
              <div>  
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    <!-- Content -->
	<section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: #35C0CD">Current Obsession</h1>
                    </br>
                    <h2>{{ main_article.title }}</h2>
                    <h3>{{ main_article.created }} </h3>
                    {{main_article.body|safe}}
                    
                    <hr width="800" size="500" color="000">
                    </br>
                    </br>
                    </br>
                    <h1 style="color: #FFB573">Latest Stream</h1>
                    </br>
                    </br>
                    {% for prev_article in prev_articles %}
                    	<h2> {{prev_article.title}} </h2>
						<h3> {{ prev_article.created }} </h3>
						{{prev_article.body|safe}}
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					{% endfor %}
                    
                   {% if prev_articles.has_next %}
				   <a href="?page={{ prev_articles.next_page_number }}">more</a>
				   {% endif %} 
                   </br>
                   {% if prev_articles.has_previous %}
				   <a href="?page={{ prev_articles.previous_page_number }}">previous</a>
				   {% endif %}
				   </br>
				   </br>
				   
				   <span class="current">
				    {{ prev_articles.number }} of {{ prev_articles.paginator.num_pages }}
				   </span>
                   <hr width="800" size="500" color="000">
                   </br>
                   
                   <p> <a href="https://twitter.com/NirChernia"><img src="{% static "img/twitterbird.png" %}" height="42" width="42"/></a>
                   <a href="https://github.com/nirchernia"><img src="{% static "img/github.png" %}" height="42" width="42"/></a>
                   </p>
                   
                   </br>
                   
                    
                    <!-- <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}



    <!-- jQuery Version 1.11.0 -->
    <script src="static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/scrolling-nav.js"></script>
<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55311418-1', 'auto');
  ga('send', 'pageview');

</script>


</body>

</html>