{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- content -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    </br>
                    <h2></h2>
                    <h3></h3>
                    
                    	
                    	
                    	<div style="width:700px;margin: 0 auto;">
							<h1>Login</h1>
							
							
							<p class="error">{{show_error}}</p>

						  

							<form action="" method="post">{% csrf_token %}
								<label for="username">User name:</label>
								<input type="text" name="username" value="" id="username">
								<label for="password">Password:</label>
								<input type="password" name="password" value="" id="password">

								<input type="submit" value="login" />
								<input type="hidden" name="next" value="{{ next|escape }}" />
								</form>
								 
                    	</div>
                    
                    
                    
                    
                    <hr width="800" size="500" color="000">
                                      
                   <p> <a href="https://twitter.com/NirChernia"><img src="{% static "img/twitterbird.png" %}" height="42" width="42"/></a>
                   <a href="https://github.com/nirchernia"><img src="{% static "img/github.png" %}" height="42" width="42"/></a>
                   </p>
                   
                   </br>
                   
                    
                    <!-- <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
                </div>
            </div>
        </div>
    </section>


{% endblock %}